body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.homepage {
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
}

.shop-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 5rem;
}

.shop-page .page-link {
  font-size: 3rem;
  font-weight: bold;
}

.shop-page .title {
  font-size: 3rem;
}

.shop-page .collections h1 {
  font-weight: lighter;
}

.collection-preview {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
